.inbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;


}

.name1 {
    position: relative;
    left: 9px;
    top: 15px;
    color: rgb(53, 98, 145);
}

#fna {
    position: relative;
    top: 15px;
    left: 5px;
}

#midna {
    position: relative;
    top: 15px;
    left: 5px;

}

#lana {
    position: relative;
    top: 15px;
    left: 5px;
}

#padd {
    position: relative;
    top: 15px;
    left: 5px;
}

#teadd {
    position: relative;
    top: 15px;
    left: 5px;
}

#connum {
    position: relative;
    top: 15px;
    left: 5px;
}

#ema {
    position: relative;
    top: 15px;
    left: 5px;
}

#edu {
    position: relative;
    top: 15px;
    left: 5px;
}

#exp {
    position: relative;
    top: 15px;
    left: 5px;
}

.but {
    position: relative;
    top: 40px;
    left: 80%;
    color: rgb(53, 98, 145);
}